<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Getting Started: Serving Web Content</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="'Address Books = ' + ${Addresses} " />

        <h1>Add Address Book Form</h1>
        <form action="#" th:action="@{/addresses}" th:object="${addresses}" method="post">
            <p><input type="submit" value="Create New Address Book" /> </p>
        </form>
    </body>

</html>