<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Getting Started: Serving Web Content</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="'Buddies List = ' + ${BuddyInfos}"></p>

        <h1>Add Buddy Form</h1>
        <form action="#" th:action="@{/addresses/{id}/buddy(id=${addressBook.id})}" th:object="${buddy}" method="post">
            <p>Name: <input type="text" class="name" th:field="*{name}" th:id="'name' + ${addressBook.id}" /></p>
            <p>Address: <input type="text" class="address" th:field="*{address}" th:id="'address' + ${addressBook.id}" /></p>
            <p>Phone Number: <input type="text" class="phoneNumber" th:field="*{phoneNumber}" th:id="'phoneNumber' + ${addressBook.id}"/></p>
            <p><input type="submit" value="Create New Buddy Info" /> <input type="reset" value="Reset" /></p>
        </form>
    </body>
</html>